.Services{
    height: 700px;
    width: 100%;
    background-color: #f2f2f2;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.Services h2{
    font-size: 40px;
}
@media only screen and (max-width: 600px){
    .Services{
        height: auto;
        padding-bottom: 2rem;
        clip-path: none;
    }
}